body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkblue;
    text-align: center;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 16px;
    color: lightblue;
    font-weight: bold;
}

.lista {
    background-color: navy;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: white
}

#sobremmi {
    padding-top: 30px;
    border-radius: 10px;
    margin: 20px;
    color: white
}

#imagen {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid whitesmoke;
}

.section {
    background-color: #001f4d;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid lightblue;
    border-radius: 10px;
    max-width: 700px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-weight: bold;
}

section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}