body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkblue;
    text-align: center;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 16px;
    color: lightblue;
    font-weight: bold;
}

#proyectos {
    background-color: navy;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: white
}